<!-- nav -->
<mat-toolbar color="primary" *ngIf="currentUser">
    <mat-toolbar-row>
        <nav class="navbar navbar-expand " >
            <div class="navbar-nav">
                <a class="nav-item nav-link white" routerLink="/users" *ngIf="IsAdminorManager">Users</a>
                <a class="nav-item nav-link white" routerLink="/records" *ngIf="IsAdminorUser">Records</a>
                <a class="nav-item nav-link white" (click)="logout()">Logout</a>
            </div>
        </nav>
    </mat-toolbar-row>  
  </mat-toolbar>


<!-- main app container -->

                <alert></alert>
                <router-outlet></router-outlet>

